h2 {
	color: green;
	font-style: underline;
}

h3 {
	color: red;
	font-style: bold;
}

p {
	color: black;
	text-align: justify;
}

.judul {
	font-size: 50px;

}

.artikel {
	font-size: 25px;

}

.tanggal {
	font-size: 10px;

}

#paragraf_pembuka {

}

#nomor_paragraf {

}

[href] {
	
}